Read in Citi Bike Data for January-May 2020.  Analyze and clean data as needed.  
Goal is to analyze impact of Covid-19 using Tableau

In [1]:
import pandas as pd

In [2]:
# Jan - May 2020 Citibike Data
URLs = ['https://s3.amazonaws.com/tripdata/JC-202001-citibike-tripdata.csv.zip',\
        'https://s3.amazonaws.com/tripdata/JC-202002-citibike-tripdata.csv.zip',\
        'https://s3.amazonaws.com/tripdata/JC-202003-citibike-tripdata.csv.zip',\
        'https://s3.amazonaws.com/tripdata/JC-202004-citibike-tripdata.csv.zip',\
        'https://s3.amazonaws.com/tripdata/JC-202005-citibike-tripdata.csv.zip']

In [3]:
# Read in the zipped data and append to 1 dataframe
all_data = pd.DataFrame()

for i in URLs:
    df = pd.read_csv(i) 
    all_data = all_data.append(df)

In [4]:
all_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [5]:
all_data.shape

(101046, 15)

In [6]:
all_data.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [7]:
# Rename columns

all_data.rename(columns = {'tripduration': 'Trip Duration',
                           'starttime' : 'Start Time',
                           'stoptime' : 'Stop Time',
                           'start station id': 'Start Station Id',
                           'start station name' : 'Start Station Name',
                           'start station latitude': 'Start Station Latitude',
                           'start station longitude': 'Start Station Longitude',
                           'end station id': 'End Station ID',
                           'end station name': 'End Station Name',
                           'end station latitude': 'End Station Latitude',
                           'end station longitude' : 'End Station Longitude',
                           'bikeid' : 'Bike ID',
                           'usertype' : 'User Type',
                           'birth year' : 'Birth_Year',
                           'gender' : 'Gender'}, inplace = True)
                           
print(all_data.columns)

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station Id',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth_Year', 'Gender'],
      dtype='object')

In [8]:
# Change the type for certain fields, determine age and drop any rows with age >= 90 and any with 'na'

all_data['Birth_Year'] = all_data.Birth_Year.astype(int)
all_data['Start Time'] = pd.to_datetime(all_data['Start Time'])
all_data['Stop Time'] = pd.to_datetime(all_data['Stop Time'])

all_data['Age'] = 2020 - all_data['Birth_Year']
all_data = all_data[all_data['Age'] < 90]
all_data.dropna(inplace=True)

In [9]:
all_data.shape

(101027, 16)

In [10]:
all_data.to_csv('citibike_2020.csv', encoding='utf-8', index=False)